.python-version

wandb
trained_models
__pycache__
slurm*

*.bin
*.xml
*.npy

chrome_profile.json
profile.txt
notes/profile_results

notes/trace2html

dataset_defs

src/yogo.egg-info
data_pipeline_utils/tasks.json
